@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


*{
    box-sizing: border-box;
}

#container{
    height: 100%;
    background-color: #fff;
}

body{
    background-color: #606060;
    font-family: 'Roboto Slab', serif;
    width: 1800px;
    
}

main{
    position: relative;
    margin: 10px auto 10px auto;
    display: grid;
    grid-template-areas: 'header header header'
                         'nav nav nav'
                         'bio bio bio'
                         'ed ed hobbies'
                         'footer footer footer';
    grid-template-columns: 600px 600px 600px;
    
    
}

header{
    grid-area: header;
    height: 150px;
    background-color: #606060;
    margin-bottom: 0;
}

nav{
    grid-area: nav;
}

#bio{
    grid-area: bio;
    margin-top: 0px;
}

#ed{
    grid-area: ed;
    background-image: url("images/neit.jpg");
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
}

#hobbies{
    grid-area: hobbies;
    margin-left: 0;
}

footer{
    grid-area: footer;
    height: 100px;
    background-color: #606060;
    color: white;
    line-height: 100px;
    text-align: center;
}

h1{
    font-size: 24px;
    font-weight: bold;
    color: white;
    padding-left: 30px;
    line-height: 150px;
    margin: 0;
}

h2{
    font-size: 20px;
    font-weight: bold;
    color: #111;
    background-color: #858585;
    padding-left: 10px;
}

.content{
    background-color: #c4c4c4;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    margin-top: 0;
    color: #333;
}

/*used to hide certain parts of the website until that link in the nav is pressed*/
.hide{
    display: none;
}

img{
    width: 450px;
    padding-left: 125px;
    padding-bottom: 10px;
}

#short{
    width: 600px;
}

