@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #e3e3e3;
    font-weight: 400;
}

main{
    height: 100%;
    display: flex;
    flex-direction: column;
}

p{
    margin: 0;
}
/*changes the cursor from the arrow to a pointer on things that would be clickable if it were a fully functional site*/
.pointer{
    cursor: pointer;
}

header{
    background-color: #505050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 23px;
    width: 100%;
    padding-left: 50px;
}

header p:hover{
    color: #fff;
}

.header{
    margin-right: 15px;
    color: #e3e3e3;
    display: inline-block;
}

/*right edge of header*/
#gear{
    background: url('images/sprites.png') no-repeat -433px -1px;
	width: 12px;
	height: 12px;
    margin-right: 8px;
}

#gear:hover{
    background: url('images/sprites.png') no-repeat -433px -190px;
}

section{
    display: flex;
    height: 100%;
}

aside, aside div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    background-color: #505050;

}
#toggle, #window, #trash{
    margin-left: auto;
    margin-right: auto;
}
#window{
    margin-top: 10px;
}
#trash{
    margin-top: 10px;
    margin-bottom: 10px;
}

/*class applicable to all font awesome fonts*/
.fas{
    font-size: 32px;
    color: #e3e3e3;
}
/*to center the title in the header*/
aside .fas:hover{
    color: #fff;
}

#tray{
    width: 200px;
    background-color: #373737;
    color: #c2c2c2;
}

#editor{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #060606;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    background-color: #0254A0;
}

footer p{
    display:inline-block;
    padding-left: 15px;
    font-size: 10px;
}

#signal{
    float: right;
    font-size: 12px;
    padding-top: 1.5px;
    padding-right: 15px;

    cursor: pointer;
}

nav a{
    margin-left: 2px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 173px;
    height: 34px;
    background-color: #373737;
    float: left;
    color: #e3e3e3;
    color: #e3e3e3;
    text-decoration: none;
    padding-left: 10px;
}

.fa-plane{
    font-size: 12px;
    transform: rotate(270deg);
    color: #e3e3e3;
}
.fa-times{
    font-size: 16px;
    color: #e3e3e3;
    margin-left: 58%;
}

.fa-times:hover{
    color: #fff;
}

textarea{
    width: 100%;
    height: 100%;
    border-width: 0;
    resize: none;
    outline: none;
    background-color: #060606;
    padding-top: 100px;
    color: aqua;
}

/*the path that changes depending on the tab you click*/
#path{
    background-color: #161616;
    margin: 0;
    height: 23px;
    padding-top: 5px;
    padding-left: 10px;
}

#path span,a{
    text-decoration: underline;
    color: blue;
}

details{
    padding: 0 5px 0 5px;
}

summary{
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #7B7575;
    border-bottom: 1px solid #7B7575;
}

ul{
    padding-bottom: 10px;
}
/*the upper ul*/
#upper{
    list-style-image: url(images/paper.png);
}
/*the lower ul*/
#lower{
    list-style-image: url(images/fire.png);
}

li{
    color: #e3e3e3;
    cursor: pointer;
}

li:hover{
    filter: brightness(300%)
}

.tray, #inner-tray{
    width: 200px;
    background-color: #373737;
    transition: all .5s;
}

.tray{
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
/*toggled with JS for the tray to open/close on click of the "Tray" icon in the aside*/
.closed{
    width: 0px;
    transition: all .5s;
}