@charset "UTF-8";

/*
p{
    text-shadow: 10px 10px 10px black;
}

.sprite {
	background: url(images/sprites.png) no-repeat -97px -2px;
	width: 12px;
	height: 11px;
}

.sprite:hover{
	background: url(images/sprites.png) no-repeat -97px -191px;
	width: 12px;
	height: 11px;
}*/

