@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #393e46;
}


html, body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 400;
}

nav{
    min-height: 100px;
}

.container{
    margin: 0;
}

.navbar-custom{
    background-color: #222831;
}

@media (max-width: 990px) {  
    .navbar-custom .navbar-brand{
        color: #fff;
        font-size: 16px;
    }
  }
@media (min-width: 990px) {
.navbar-custom .navbar-brand{
    color: #fff;
    font-size: 36px;
    }
}

.navbar-nav a, .navbar-nav a:hover{
    color: #00fff5;
    text-decoration: underline;
    font-size: 30px;
}


/* Set the border color of hamburger to none */
.custom-toggler.navbar-toggler {
    border-color: none;
}

/*Change the color of the hamburger (it is an SVG file */
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 255, 245, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

h2{
    font-size: 48px;
    color: #00fff5;
    
}

.h2l{
    padding-left: 0;
}

a:hover{
    color: #fff;
}

.border-bottom{
    border-color: #00fff5 !important;
    border-width: 3px !important;
}

.container-fluid p{
    font-size: 34px;
}

.title{
    font-style: italic;
    text-decoration: underline;
}

.repo{
    font-size: 36px;
    color: #fff;
}


.projtitle{
    font-size: 18px !important;
    color: #00fff5;
}

.projpara{
    font-size: 16px !important;
}

.projrepo{
    font-size: 16px;
    color: #fff;
}

footer {
    height: 100px;
    background-color: #222831;
    padding: 0;
}


footer a{
    text-decoration: none;
}

  



